@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.annotation{
  background-color: blue;
  box-sizing: border-box;
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  width: 25px;
  height: 35px;
  font-weight: bold;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
