<h1>Annotations</h1>

<table class="table table-striped table-hover">
  <% @annotations.each do |annotated_object| %>
    <tr>
      <td><%= annotated_object.username %></td>
      <td><%= annotated_object.guid %></td>
      <td><%= annotated_object.url %></td>
      <td><%= annotated_object.annotations %></td>
    </tr>
  <% end %>
</table>
